:root{
    --main-green: #009444;
    --secondary-green: #34A96A;
    --grayscale-01: #333333;
    --grayscale-02: #575757;
    --grayscale-03: #6c6c6c;
    --grayscale-04: #f7f7f7;
    --grayscale-05: #f0f0f0;
    --grayscale-06: #555555;
    --grayscale-07: #939598;
}
